.header {
    margin: 1rem;
    padding: 1rem;
    background-color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: #DFDFDE;
    /* color: #8D8DAA; */
        /* -webkit-box-shadow:  0 5px 12px black;
    -moz-box-shadow: 0 0 5px 12px black;
    box-shadow: 0 0 5px 3px black; */
  }

  
  .header h2 {
    font-size: 2rem;
    color: #DFDFDE;
  }
  
  .header h3 {
    color: #8D8DAA;
    margin: 0;
    font-size: 1rem;
  }
  
 .header img {
   width: 100%;
   height: auto;
   margin-top: -200px;
 }
    